<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>共享粘贴板 - 在线工具 - OKTools</title>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/clipboard.min.js"></script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <#include "aside.html" />
    <main>
        <div class="container">
            <h1>共享粘贴板</h1>
            <textarea id="area_input" class="textarea mt-2" rows="15"></textarea>
            <div class="content-center mt-2">
                <button class="button" id="copyButton" data-clipboard-target="#area_input">
                    <i class="fa fa-copy"></i>
                    <span>复制</span>
                </button>
                <button class="button" id="shareButton" onclick="share()">
                    <i class="fa fa-arrow-down"></i>
                    <span>分享</span>
                </button>
                <button class="button" onclick="cleanup()">清空</button>
            </div>
            <textarea id="area_output" class="textarea mt-2" rows="15"></textarea>
        </div>
    </main>

    <script type="text/javascript">
        let area_input = document.getElementById('area_input');
        let area_output = document.getElementById('area_output');

        function cleanup() {
            area_input.value = '';
            area_output.value = '';
        }
        var clipboard = new ClipboardJS('#copyButton');
        clipboard.on('success', function (e) {
            console.log(e);
        });
        clipboard.on('error', function (e) {
            console.log(e);
        });

        function share() {
            $.ajax({
                url: "/clipboard/share?text=" + area_input.value, type: 'GET', async: true, success: function (result) {
                    area_output.value = result;
                }
            })
        }
    </script>
</body>

</html>