<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>图片转Base64编码 - 在线工具 - OKTools</title>
    <meta name="keywords" content="Base64,图片Base64编码,Base64转图片">
    <meta name="description" content="在线图片Base64编码工具,图片Base64编码,Base64转图片">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="https://cdn.bootcss.com/font-awesome/5.10.0-11/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
<#include "aside.html" />
<main>
    <div class="container">
        <h1>图片Base64编码</h1>
        <div class="file fullwidth mt-2">
            <span class="file-cta">
                <input id="input_file" class="file-input" type="file"
                       accept="image/png, image/jpeg, image/gif, image/jpg" onchange="onChange(this)">
                <span class="file-icon">
                    <i class="fas fa-upload"></i>
                </span>
                <span class="file-button">选择一张图片</span>
            </span>
            <span id="file_name" class="file-name"></span>
        </div>
        <div id="img_input" class="textarea mt-2" contenteditable="true" style="min-height: 18em;height: auto;
            overflow: auto;"></div>
        <div class="content-center mt-2">
            <button class="button" onclick="base64ToImage()">
                <i class="fa fa-arrow-up"></i>
                <span>Base64还原图片</span>
            </button>
            <button class="button" onclick="cleanup()">
                <span>清空</span>
            </button>
        </div>
        <textarea id="area_base64" class="textarea mt-2" rows="20" onpaste="setTimeout(base64ToImage, 1)"></textarea>
    </div>
</main>
<script src="/js/image2base64.js"></script>
</body>
</html>