<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>IP地址查询 - 在线工具 - OKTools</title>
    <meta name="keywords" content="IP地址,IP查询,IP地理信息查询">
    <meta name="description" content="在线IP地址查询工具,IP查询,IP地理信息查询">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
<#include "aside.html" />
<main>
    <div class="container">
        <h1>IP地址查询</h1>
        <div class="group fullwidth mt-2">
            <span class="static">IP或域名</span>
            <input id="input_ip" class="input" value="${ip}" maxlength="128">
            <button class="button primary" onclick="getIpInfo(this)">查询</button>
        </div>
        <div id="table_list"></div>
    </div>
</main>
<script src="/js/ip.js"></script>
</body>
</html>